<!DOCTYPE html>
<html>
<title>{% block title %} Blog {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block css %}
<link rel="stylesheet" href="/static/css/w3.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Raleway", sans-serif
  }
</style>


{% endblock %}

<body class="w3-light-grey">

  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
      <h1><b>MY BLOG</b></h1>
      <p>Welcome {% if request.user %} <b><a href='{% url_for "userprofile" username=request.user.username %}'>{{request.user.username}}</a></b>
        {% else %} guest {%endif%} <a href="/"><span class="w3-tag">(Home)</span></a></p>
      <p>
        {% block header_content %}
        {% if request.user %}
        <a href="{% url_for 'logout' %}">logout</a>
        {% else %}
        <a href="/user/login">login</a>
        <a href='{% url_for "register" %}'>register</a>
        {% endif %}
        <a href="{% url_for 'create_post' %}"> New Post </a>
        {% endblock %}
      </p>
    </header>

    {% for msg in get_flash_messages %}

    <div style="color: red; text-align: center;">{{msg}}</div>

    {% endfor %}
    {% block content %}

    {% endblock %}
  </div>
  {% block js %}
  {% endblock %}
</body>

</html>