{% extends 'base.html'}
{% block title %}Login {% endblock %}

{% block css super %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}
{% if request.query.next %}
<p style="color: red; text-align:center"> Login to continue </p>
{% endif %}
<form method="post">
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>
  <div style="padding-left: 40%; color: red">{{error}}</div>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <div class="container" style="text-align: right;">
    <span >Forgot <a href="/u/reset_password">password?</a></span>
  </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
  var form = document.querySelector('form')
  form.addEventListener('submit', function (event) {
    if (!form.checkValidity()) {
      event.preventDefault()
      for (element of form.elements) {
        if (element.tagName.toLowerCase() == 'button') {
          continue
        }
        let err = element.parentElement.querySelector('.invalid-feedback')
        if (!element.checkValidity()) {

          if (err) {
            element.style.borderColor = 'red'

            err.hidden = false
          }

        } else {
          element.style.borderColor = ''
          err.hidden = true
        }
      }
    }
  })
</script>
{% endblock %}