{% extends 'base.html'}
{% block title %}Register {% endblock %}

{% block css super %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}
<form  method="post">
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>
   <div style="padding-left: 40%; color: red">{{error}}</div>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Password" name="username" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="password1" placeholder="Enter Password" name="password" required>
    <label for="psw"><b> Confirm Password</b></label>
    <input type="password" id="password2" placeholder="Confirm Password" required>
    <div class="password-no-match" style="color:red" hidden> 
      password doesn't match
    </div> 

    <button type="submit">Submit</button>
  </div>

  <div class="container" style="background-color:#f1f1f1; padding-left: 60%;"> 
    <span class="">Already have <a href="/user/login">account?</a></span>
  </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/form.js">
</script>
{% endblock %}


