{% extends 'base.html'}
{% block title %}Password Reset {% endblock %}

{% block css super %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}

<form method="post">
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>
  <div style="padding-left: 40%; color: red">{{error}}</div>
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Your Email" name="email" required>



    <button type="submit">Rest Password</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  </div>
</form>
{% endblock %}

{% block js %}
{% endblock %}