{% extends 'base.html'}
{% block title %}Login {% endblock %}

{% block css super %}

<style>
 
 form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
</style>
{% endblock %}

<form  method="post">
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>
   <div style="padding-left: 40%; color: red">{{error}}</div>
  <div class="container">
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Password" name="password1" required>

    <button type="submit">Submit</button>
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    
    <span class="psw">Forgot <a href="/u/reset_password">password?</a></span>
  </div> -->
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
  // var form = document.querySelector('form')
  // form.addEventListener('submit', function (event) {
  //   if (!form.checkValidity()) {
  //     event.preventDefault()
  //     for (element of form.elements) {
  //       if (element.tagName.toLowerCase() == 'button') {
  //         continue
  //       }
  //       let err = element.parentElement.querySelector('.invalid-feedback')
  //       if (!element.checkValidity()) {

  //         if (err) {
  //           element.style.borderColor = 'red'

  //           err.hidden = false
  //         }

  //       } else {
  //         element.style.borderColor = ''

  //         err.hidden = true

  //       }


  //     }
  //   }


  // })
</script>
{% endblock %}


